btop/*
!btop/btop.conf
dconf

nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data
pulse/
systemd/

zsh/.zcompump*
ranger/colorschemes/__pycache__
ranger/plugins/__pycache__
ranger/plugins/devicons2/__pycache__

