btop/*
!btop/btop.conf
dconf

nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data
pulse/
systemd/

zsh/
!zsh/.zshrc
!zsh/.zshenv
ranger/
!ranger/rc.conf
!ranger/rifle.conf
!ranger/scope.sh
!ranger/plugins/devicons2/gen_icons.sh
!ranger/plugins/devicons2/icons.py
!ranger/plugins/devicons2/__init__.py
!ranger/plugins/colorschemes/gruvbox.py
!ranger/plugins/colorschemes/__init__.py
