aerc/
BitWarden/
BraveSoftware/
dconf/
docker/
FreeCAD/
GIMP/
gopass/
gtk-2.0/
gtk-3.0/
inkscape/
ipython/
jupyter/
kde.org
kicad/
kwalletrc
libreoffice/
libvirt/
maestral/
matplotlib/
menus/
mimeapps.list
mpv/
MusE/
neofetch/
npm/
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data
Ovito/
pavucontrol.ini
pcprops/
pulse/
qBittorrent/
QtProject.conf
ranger/colorschemes/__pycache__
ranger/plugins/__pycache__
ranger/plugins/devicons2/__pycache__
'Raspberry Pi/'
session/
torbrowser/
user-dirs.dirs
user-dirs.locale
whatsapp-for-linux/
zoom.conf
zoomus.conf
zsh/.zcompdump*
